<form method="POST">
  <input type="hidden" name="leaderkey" value="{leaderkey}">
  <h2>Status</h2>
  <table class="ui very basic collapsing celled definition table">
    <tbody>
      <tr>
        <td>Instance ID</td>
        <td>{instance_id}</td>
      </tr>
      <tr>
        <td>Instance state</td>
        <td>{instance_state['Name']}</td>
      </tr>
      <tr>
        <td>Server software</td>
        <td>{instance_state.get('port', '')}</td>
      </tr>
    </tbody>
  </table>
  {mcstatus}
  <button class="ui right labeled icon button" type="submit" name="action" value="reload">
    <i class="sync alternate icon"></i>
    Refresh
  </button>
  <h2>Start the server</h2>
  <input class="ui button {'disabled' if instance_state['Name'] != 'stopped' else ''} green" type="submit" name="action" value="Start">
  <h2>Send a message to the players</h2>
  <div class="ui input">
    <input type="text" placeholder="Message to send..." name="message">
  </div>
  <input class="ui button" type="submit" name="action" value="Send message">
  <h2>Add a player to the whitelist</h2>
  <div class="ui input">
    <input type="text" placeholder="Player name..." name="player-name">
  </div>
  <input class="ui button" type="submit" name="action" value="Add">
  <h2>Stop the server</h2>
  <div class="ui form">
    <div class="field">
      <label>Time to shutdown (minutes)</label>
      <input type="number" name="shutdown-time" placeholder="3">
    </div>
    <div class="field">
      <label>Shutdown message</label>
      <input type="text" name="shutdown-message" placeholder="Bye everyone!">
    </div>
    <input class="ui button red" type="submit" name="action" value="Shutdown">
  </div>
</form>
